table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    padding: 60px;
    margin-left: 50px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

h2{
    text-align: center;
    font-size: 36px;
}
.btn {
    text-decoration: none;
    padding: 0.5rem;
    border: 1px solid #333333;
    background-color: aquamarine;
    margin-left:50px;
    margin-bottom: 10px;
}
  